h1,
h2 {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 488px) {
  .bg-icon-out {
    .bg-icon {
      &::before {
        border: none !important;
      }
    }
    .bg-img {
      width: 150px !important;
      height: 150px !important;

      .content-icone {
        img {
          width: 50px !important;
          height: 50px !important;
        }
      }
    }
  }
}

#main-chamada {
  font-size: 4em;
  width: 100%;
  z-index: 9999;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  text-shadow: 2px 2px 2px #5d2c49;
  color: #fff;

  h2 {
    font-weight: 100;
  }
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    z-index: 1;
    color: #fff;
    font-weight: 300;
    margin-bottom: 0px;
    position: absolute;
  }

  #main-contents {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    overflow-y: hidden;

    #side-men {
      .bg-icon-out {
        &:hover + .background-gradient {
          opacity: 0.1 !important;
          transition: 0.5s;
        }

        .bg-icon {
          position: absolute;
          color: #fff;
          font-size: 7em;
          width: 50%;
          height: 100%;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;

          &::before {
            content: '';
            width: 210px;
            border: 2px solid #000;
            position: absolute;
            height: 210px;
            border-radius: 100px;
            z-index: 1;
          }

          .bg-img {
            background: #000;
            // z-index: 999;
            border-radius: 100px;
            padding: 30px;
            width: 200px;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;

            .content-icone {
              img {
                width: 100px;
                height: 100px;
              }

              span {
                font-size: 2rem;
              }
            }
          }

          img {
            padding: 10px;
          }
        }
      }
      width: 50%;
      height: 100%;

      .background-gradient {
        width: 50%;
        background: linear-gradient(to right, #00d2ff, #928dab);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        top: 0;
        left: 0;
        position: absolute;
        height: 100vh;
        mix-blend-mode: multiply;
      }
      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }

    #side-woman {
      .bg-icon-out {
        &:hover + .background-gradient {
          opacity: 0.1 !important;
          transition: 0.5s;
        }
        .bg-icon {
          position: absolute;
          color: #fff;
          font-size: 7em;
          width: 50%;
          height: 100%;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;

          &::before {
            content: '';
            width: 210px;
            border: 2px solid #000;
            position: absolute;
            height: 210px;
            border-radius: 100px;
            z-index: 1;
          }

          .bg-img {
            background: #000;
            // z-index: 999;
            border-radius: 100px;
            padding: 30px;
            width: 200px;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;

            .content-icone {
              img {
                width: 100px;
                height: 100px;
              }

              span {
                font-size: 2rem;
              }
            }
          }

          img {
            padding: 10px;
            object-fit: contain;
          }
        }
      }

      width: 50%;
      height: 100%;
      // padding: 10px 0px;

      .background-gradient {
        width: 50%;
        background: linear-gradient(to right, #ff0099, #493240);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        top: 0;
        position: absolute;
        height: 100vh;
        mix-blend-mode: multiply;
      }
      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
  }
}
