<div class="container text-center">
    <button class="btn-ajuda" (click)="AddClass()">
        Surgiu alguma dúvida? Clique aqui
    </button>
    <div class="boxAjuda" #boxAjuda>
        <article>
            Todas as perguntas foram selecionadas para que o sistema identifique o seu perfil da melhor maneira possível. Lembrando que esta ferramenta não substitui as orientações de um profissional. 
            Procure sempre um profissional da área da saúde para orientá-lo.       
        </article>
    </div>
</div>