<div class="content-loading">
  <div id="loader-container">
    <div class="loader-div">
      <div class="loader-div">
        <div class="loader-div">
          <div class="loader-div">
            <div class="loader-div"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center flex-column bloco-interno">
    <p class="ct-white">{{txtCarregando}}</p>
  <img
  class="animated infinite pulse"
  src="assets/imgs/logomulti.jpg" alt="MultiFormulas">
  </div>

</div>
